/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0px; font-family: Roboto, "Helvetica Neue", sans-serif; }
.image{
    background-image: url('src\assets\cool-background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
  }